# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment
venv/
env/
ENV/
.env
.venv/
.idea/
.vscode/

# Local data
data/
logs/
*.log
.cursor/

# Local temp and dev files
tatus
.DS_Store
